body{
    background: #191C1D;
    color: #ffffff;
}

#div1{
     
     height: auto;
     

}
#starx{
     color: #FF8D24;
}
button {
           border: none;
           background: #FF8D24;
           border-radius: 5px;
           padding: 5px;
           color: #ffffff;
           font-weight: bold;
           font-size: 20px;
           text-transform: uppercase;         
       }
       a{
               color: white;
               font-variant: small-caps;
       }
       
